/* header contact details  */

i {
  color: purple;
}

#contact-header {
  padding-top: 10px;
}

/* header logo */

.jenamin {
  font-weight: bolder;
  font-size: 42pt;
  color: blueviolet;
}

.tagline {
  font-size: 18pt;
  line-height: 0;
}

.logo {
  min-width: fit-content;
  max-width: fit-content;
}

.logo a:hover {
  text-decoration: none;
}

/* header links menu */

.links {
  text-decoration: none;
  text-align: center;
  font-size: larger;
  font-weight: bold;
  line-height: 0;
}

.links a {
  color: blueviolet;
}

.links li {
  padding: 0px 15px 0px 15px;
}

.links a:hover {
  text-decoration: underline;
}

nav {
  position: relative;
}

.menu {
  position: absolute;
  bottom: 10px;
  right: 0;
}

.breadcrumb a {
  text-decoration: none;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

/* footer positioning */

.footer-container {
  color: #fafafa;
  background-color: blueviolet;
}

.socials i {
  font-size: larger;
  color: #fafafa;
}

.socials li {
  list-style: none;
}

/* footer styling  */

.footer-lower {
  padding-top: 30px;
}

.footer-lower a {
  font-weight: bolder;
  text-decoration: none;
  color: #fafafa;
}

.footer-lower a:hover {
  font-weight: bolder;
  color: darkgray;
  text-decoration: underline;
}

.map {
  padding: 10px 10px 10px 10px;
}
